@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accent-colour: #2d4c7591;
    --main-background: #ffffff;
    --card-background: #ca5b20b4;
    --button-colour: #c7c7c7;
    --button-hover: #2d4c7546;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 8rem;
    background-color: var(--accent-colour);
    display: flex;
    align-items: center;

    & .title {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-left: 5rem;
        font-size: 2.5rem;
    }

    & svg {
        height: 5rem;
    }
}

section {
    flex: 1;
    background-color: var(--main-background);
    background-image: url("../images/books-background.jpg");
    background-size: cover;
    box-shadow: 
        inset 0px 11px 8px -8px #181717,
        inset 0px -11px 8px -8px #181717; 
}

.add-button {
    display: flex;
    justify-content: center;
    margin: 3rem;

    & button {
        padding: 1rem 3rem;
        border: none;
        border-radius: 1rem;
        font-size: 1.5rem;
        background-color: var(--button-colour);
        transition: 0.3s;
    }

    & button:hover {
        background-color: var(--button-hover);
    }
}

.book-container {
    margin: 2rem 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
}

.empty-library {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;

    & p {
        padding: 1rem;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-background);
    padding: 2rem;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.75);
    border-radius: 1rem;
}

footer {
    height: 5rem;
    background-color: var(--accent-colour);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & img {
        height: 2.75rem;
        transition: transform 0.4s ease-in-out;
    }

    & img:hover {
        transform: rotate(360deg) scale(1.2);
    }
}

dialog {
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

